<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>

    <title>Товары в категории</title>
    <th:block th:replace="~{fragments/resources :: head/link}"></th:block>
    <th:block th:replace="~{fragments/resources :: head/script}"></th:block>
</head>

<body>

<div class="container">
    <div th:replace="~{fragments/navigation :: navigation(Index)}"/>
    <h2 th:text= ${categoryTitle}></h2>

    <h3>Фильтр</h3>
    <form method="get" th:action="@{/products}" >
        <div class="form-group col-md-6">
            <label for="titleInput">Название</label>
            <input class="form-control" th:value="${param.title != null ? param.title : null}" name="title" type="text" id="titleInput">
        </div>
        <div class="form-group col-md-6">
            <label for="minPriceInput">Минимальная цена</label>
            <input class="form-control" th:value="${param.min_price != null ? param.min_price : null}" name="min_price" type="number" id="minPriceInput">
        </div>
        <div class="form-group col-md-6">
            <label for="maxPriceInput">Максимальная цена</label>
            <input class="form-control" th:value="${param.max_price != null ? param.max_price : null}" name="max_price" type="number" id="maxPriceInput">
        </div>

        <button class="btn btn-primary" type="submit">Применить</button>
        <a class="btn btn-primary" th:href="@{/products}">Очистить фильтр</a>

    </form>

    <div class="row">

        <div class="col-lg-3">
            <div class="list-group">
                <a th:each="category : ${categories}" th:href="@{'/category/' + ${category.id}}" class="list-group-item" th:text="${category.title}"></a>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${products}">
                    <div class="card h-100">
                        <a th:href="@{'/product/' + ${product.id}}">

                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{'/product/' + ${product.id}}" th:text="${product.title}"></a>
                            </h4>
                            <h5 th:text="#{text.products.price(${product.price})}"></h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <a class="btn btn-success" th:href="@{'/cart/add/' + ${product.id}}">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 mb-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${products.isFirst() ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'?p=' + ${products.previousOrFirstPageable().getPageNumber() + 1}}">Назад</a>
                            </li>
                            <li class="page-item" th:classappend="${products.getNumber() + 1 == i ? 'active' : ''}"
                                th:each="i : ${#numbers.sequence(1, products.getTotalPages())}">
                                <a class="page-link" th:text="${i}" th:href="@{'?p=' + ${i}}"></a>
                            </li>
                            <li class="page-item"  th:classappend="${products.isLast() ? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'?p='+ ${products.nextOrLastPageable().getPageNumber() + 1}}">Вперед</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>

</div>
</body>